
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 60009;
    background-color: rgba(0, 0, 0, 0.75);
}

.modal {
    // overflow-y: auto;
    // max-height: 100vh;
    // overflow-y: auto !important;
    position: fixed;
    top: 5vh;
    background-color: white;
    //padding: 1rem;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    z-index: 600001;
    animation: slide-down 300ms ease-out forwards;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

@media (max-width: 768px) {
    .modal {
        width: 90%;
        left: calc(50% - 15rem);
        left: 5%;
    }
}

@media (min-width: 768px) {
    .modal {
        width: 45rem;
        left: calc(50% - 22.5rem);
    }
}

@media (min-width: 1000px) {
    .modal {
        width: 60rem;
        left: calc(50% - 30rem);
    }
}



@keyframes slide-down {
    from {
        opacity: 0;
        transform: translateY(-3rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}