@use '../index.scss' as * ;

//----------------------------------

.teamwork{
    display: grid;
    grid-template-rows: 10% 1fr;
    h1 {
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .teamwork-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        padding: 2rem;
        .container-left {
            display: flex;
            flex-direction: column;
            padding: 1rem;
            justify-content: flex-start;
            align-items: center;
            h3 {
                color: var(--main-2-blue);
            }
        }
        .container-right{
            padding: 0.5rem;
            img{
                border-radius: 18px;
                object-fit: cover;
                display: block;
                width: 100%;
                -webkit-border-radius: 18px;
                -moz-border-radius: 18px;
                -ms-border-radius: 18px;
                -o-border-radius: 18px;
            }
        }
    }
}



.banner-btn {
    font-size: 20px ;
    margin: 3rem;
    background: var(--main-blue);
    color: var(--white);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    // font-size: var(--fs-11);
    font-weight: var(--weight-600); 
    text-transform: uppercase;
    padding: 4px 10px;
    -webkit-border-radius: var(--border-radius-sm);
    border-radius: var(--border-radius-sm);
    -webkit-transition: var(--transition-timing);
    -o-transition: var(--transition-timing);
    transition: var(--transition-timing);
    border: 3px solid var(--main-blue);
    &:hover { 
        background :transparent;
        color: var(--main-blue);
    }
    &.signUp {
        background :transparent;
        color: var(--main-blue);
        border: 3px solid var(--main-blue);
        padding: 7px 14px;
        &:hover {
            color: var(--davys-gray);
            border-color: var(--davys-gray);
        }
    }
}