@use '../index.scss' as * ;


//=========================================== screens

@mixin small_mobile  {
  @media only screen and (max-width: 480px ) {
      @content;
  }
}
@mixin medium_mobile  {
  @media only screen and (max-width: 767px ) {
      @content;
  }
}



//=========================================================================
.container {
  // background-color: var(--color-white);
  max-width: 1200px;
  margin: auto;
  padding: 5rem 1rem;
  .pages{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin: 60px 0;
    padding: 10px 0;
    @include small_mobile{
      gap: 5% !important;
      span{
        font-size: 14px !important;
      }
    }
    @include medium_mobile{
      gap: 5% !important;
      span{
        font-size: 14px;
      }
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 2px 5px;
      border: 3px solid var(--main-2-blue);
      background-color: var(--main-2-blue);
      color: #fff;
      font-size: var(--fs-9);
      text-transform: capitalize;
      -webkit-transition: var(--transition-timing);
      -o-transition: var(--transition-timing);
      transition: var(--transition-timing);
      padding: 3.5px 9px;
      margin: 2px;
      font-weight: 500;
      &:hover {
        background-color: transparent;
        color: var(--main-2-blue);
      }
      &:disabled {
        background-color: transparent;
        color: var(--sonic-silver);
        border: 3px solid var(--sonic-silver);
        color: var(--sonic-silver);
        cursor: not-allowed;
      }
      border-radius: 15px;
      -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
      -ms-border-radius: 15px;
      -o-border-radius: 15px;
      @include small_mobile{
        padding: 2px !important;
        font-size: 12px !important;
      }
      @include medium_mobile{
        padding: 2px !important;
        font-size: 12px !important;
      }
    }
    span {
      font-size: 19px;
      font-style: italic;
      color: var(--main-2-blue);
    }
  }
}


.room__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
  }
  
  .room__card {
    padding-top: 0.5rem;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 5px 5px 10px var(--cultured);
    cursor: pointer;
    @extend%tran;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    &:hover {
      background-color: var(--cultured);
    }
  }
  
  .room__card__image {
    isolation: isolate;
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    img {
    // @extend %rad50 ;
      width: 100% !important;
      height: 100% !important;
      display: block;
      object-fit: cover !important;
      // box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    }
  }
  

  
  .room__card__details {
    padding: 1rem;
  }
  
  .room__card h4 {
    margin-bottom: 1rem;
    font-size: 1rem;
    // font-weight: 700;
    color: var(--main-2-blue);
  }
  
  .room__card p {
    margin-bottom: 0.5rem;
    color: var(--sonic-silver);
    font-weight: var(--weight-300);
    // color: #fff;
  }
  
  .room__card h5 {
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  


  @media screen and (min-width:  576px) {
    .room__grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }


  @media screen and (min-width:  768px) {
    .room__grid {
        grid-template-columns: repeat(3, 1fr);
      }
  }

  @media screen and (min-width:  1024px) {
    .room__grid {
      grid-template-columns: repeat(4, 1fr);
      gap: 2rem;
    }
  }


  %rad50 {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}


%tran {
  transition: all 5ms;
  -webkit-transition: all 5ms;
  -moz-transition: all 5ms;
  -ms-transition: all 5ms;
  -o-transition: all 5ms;
}